---
layout: exchange
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="https://instant.0x.org/instant.js"></script>
    </head>
    <body>
        <script>
            zeroExInstant.render({
                orderSource: 'https://api.radarrelay.com/0x/v2/',
                affiliateInfo: {
                    feeRecipient: '0x03c04b194242507de3d845887c6c36bdcf3121df',
                    feePercentage: 0.02
                },
                availableAssetDatas: [
                    '0xf47261b000000000000000000000000005f4a42e251f2d52b8ed15e9fedaacfcef1fad27', 
                    '0xf47261b0000000000000000000000000a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
                ]
                }, 'body');
        </script>
    </body>
</html>
